body {
    background-color: rgb(65, 65, 65);
}

/* PARAGRAPHS AND HEADERS */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
p, h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    display: inline;
}

/* TOPBAR*/
.header {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(white, black);
}
.nav {
    overflow: hidden;
    background-color: black;
}
.nav a {
    float: left;
    padding: 10px;
    color: gray;
    display: block;
    text-align: center;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* BUTTONS */
button {
    border-color: darkgray;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button.theme { /* default theme button */
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px white;
    color: black;
    width: 80px;
    height: 20px;
    object-fit: cover;
    background:url("../images/theme_switch.jpg");
    float: right;
}

/* LIGHTMODE */
body.light {
    background-color: rgb(190, 190, 190);
}
p.light, h1.light, p.header.light, h1.header.light {
    color: black;
}
.nav.light {
    background-color: white;
}
.header.light {
    background-image: linear-gradient(black, white);
}
button.theme.light {
    text-shadow: 1px 1px black;
    color: white;
}