body {
  background-color: rgb(62, 32, 63);
}

/* PARAGRAPHS AND HEADERS */
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
p,
h1 {
  margin: 0px;
  padding: 0px;
  color: white;
  display: inline;
}

/* TOPBAR*/
.nav {
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
}
.nav a {
  color: white;
  display: inline;
  float: left;
  padding: 10px;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* BUTTONS */
button.theme {
  /* default theme button */
  float: left;
  padding: 10px;
  background-image: url("../images/theme_switch_dark.png");
  width: 120px;
  height: 40px;
  object-fit: contain;
  background-color: black;
  border: none;
}
button.theme:hover {
  background-color: #ddd;
  color: black;
}

/* LIGHTMODE */
p.light,
h1.light,
p.header.light,
h1.header.light {
  color: black;
}
.nav.light {
  background-color: white;
}
button.theme.light {
  object-fit: contain;
  width: 30px;
  height: 25px;
  background-image: url("../images/theme_switch_light.png");
  background-color: white;
}
.nav a.light {
  color: black;
}
