body {
  background-color: rgb(62, 32, 63);
}

/* PARAGRAPHS AND HEADERS */
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
p,
h1 {
  margin: 0px;
  padding: 0px;
  color: white;
}

/* TOPBAR*/
.nav {
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
}
.nav a {
  color: white;
  display: inline;
  float: left;
  padding: 10px;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* BUTTONS */
button.theme { /* default theme button */
  float: left;
  padding: 10px;
  width: 50px;
  height: 40px;
  background-color: black;
  border: none;
}
button.theme > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button.theme:hover {
  background-color: #ddd;
  color: black;
}

/* PAGE 1 */
.page1 {
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: black;
}

/* LIGHTMODE */
p.light,
h1.light,
p.header.light,
h1.header.light {
  color: black;
}
.nav.light {
  background-color: white;
}
button.theme.light {
  background-color: white;
}
.nav a.light {
  color: black;
}
.page1.light {
    background-color: white;
    color: black;
}